@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Agri Energy</h1>
    <p><iframe width="853" height="480" src="https://www.youtube.com/embed/5ZiHkYhWEto" 
        title="4K HDR Aerial View; Farms; Farmland; Crops; Green Nature; Relaxing Calming Peaceful Piano Music" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
</div>
